*.ipynb
*.pyc
*.ipynb_checkpoints

docs
#docs/*.rst
#docs/*.py
#docs/_build
#docs/generated
#docs/_static
#docs/_templates
#docs/Makefile

update_forks

dms2dfe.egg-info/*
dist/*
test/*
test_dataset/dms2dfe_dependencies/*
test_dataset/TEM1_Firnberg_et_al_2014/data_comparison/*
test_dataset/TEM1_Firnberg_et_al_2014/data_feats/*
test_dataset/TEM1_Firnberg_et_al_2014/data_fit/*
test_dataset/TEM1_Firnberg_et_al_2014/data_input/*
test_dataset/TEM1_Firnberg_et_al_2014/data_lbl/*
test_dataset/TEM1_Firnberg_et_al_2014/data_ml/*
test_dataset/TEM1_Firnberg_et_al_2014/plots/*
test_dataset/TEM1_Firnberg_et_al_2014/btem.1.bt2
test_dataset/TEM1_Firnberg_et_al_2014/btem.2.bt2
test_dataset/TEM1_Firnberg_et_al_2014/btem.3.bt2
test_dataset/TEM1_Firnberg_et_al_2014/btem.4.bt2
test_dataset/TEM1_Firnberg_et_al_2014/btem.logbt2bld
test_dataset/TEM1_Firnberg_et_al_2014/btem.rev.1.bt2
test_dataset/TEM1_Firnberg_et_al_2014/btem.rev.2.bt2
test_dataset/TEM1_Firnberg_et_al_2014/btem_blastp.fasta
test_dataset/TEM1_Firnberg_et_al_2014/btem_blastp.xml
test_dataset/TEM1_Firnberg_et_al_2014/btem_blastp_msa.fasta
test_dataset/TEM1_Firnberg_et_al_2014/btem_blastp_msa.fasta.log
test_dataset/TEM1_Firnberg_et_al_2014/btem_prt.fasta
test_dataset/TEM1_Firnberg_et_al_2014/cfg (copy)/*
test_dataset/TEM1_Firnberg_et_al_2014/fit
test_dataset/TEM1_Firnberg_et_al_2014/info
test_dataset/TEM1_Firnberg_et_al_2014_random_sampling/*
test_dataset/APH2_Melnikov_et_al_2014/data_comparison/*
test_dataset/APH2_Melnikov_et_al_2014/data_feats/*
test_dataset/APH2_Melnikov_et_al_2014/data_fit/*
test_dataset/APH2_Melnikov_et_al_2014/data_input/*
test_dataset/APH2_Melnikov_et_al_2014/data_lbl/*
test_dataset/APH2_Melnikov_et_al_2014/data_ml/*
test_dataset/APH2_Melnikov_et_al_2014/plots/*
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr.1.bt2
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr.2.bt2
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr.3.bt2
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr.4.bt2
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr.fasta.fai
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr.logbt2bld
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr.rev.1.bt2
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr.rev.2.bt2
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr_cctmr1.fasta
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr_cctmr1_blastp.fasta
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr_cctmr1_blastp.xml
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr_cctmr1_blastp_msa.fasta
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr_cctmr1_blastp_msa.fasta.log
test_dataset/APH2_Melnikov_et_al_2014/aph_wt_nt_cctmr_cctmr1_prt.fasta
test_dataset/APH2_Melnikov_et_al_2014/cfg (copy)/*
test_dataset/APH2_Melnikov_et_al_2014/data_input.get_test_dataset.log
test_dataset/APH2_Melnikov_et_al_2014/data_mutmut/*
test_dataset/APH2_Melnikov_et_al_2014_random_sampling/*
test_dataset/cov
test_dataset/cov_mut
test_dataset/cov_per_cds
test_dataset/data_cov
